* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}
.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post-enter {
    transform: translateX(-50rem);
}
.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(50rem);
    transition: all 500ms ease-in;
}

.loaderCenter {
    display: flex;
    justify-content: center;
}
.page__Wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.page {
    border: 1px teal solid;
    margin: 5px;
    padding: 5px;
}
.page__current {
    color: orange;
    border: 1px orange solid;
}
